.header {
    height: 40px;
    padding: 0 20px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;

    a {
        color: #fff;
    }

    &__rightside {
        display: flex;
    }

    &__menu-icon {
        margin-right: 20px;
        font-size: 20px;
        cursor: pointer;
        color: rgb(131, 131, 131);
        transition: 0.5s;

        &:hover {
            color: #fff;
        }
    }

    &__logo {
        font-weight: 900;
        font-size: 20px;
    }

    &__profile-icon {
        font-size: 20px;
        cursor: pointer;
        color: rgb(131, 131, 131);
        transition: 0.5s;

        &:hover {
            color: #fff;
        }
    }
}