.mode-select {

    &__wrapper {
        position: relative;
        min-width: 186px;
        height: 30px;
        padding: 0 8px;
        margin-bottom: 20px;
        border-radius: 5px;
        cursor: pointer;
        background: #d3d3d3;
        transition: 0.5s;
        display: flex;
        align-items: center;

        &:hover {
            background: #a9a9a9;
            color: #fff;
        }

        p {
            font-size: 20px;

            span {
                text-transform: capitalize;
            }
        }

        ul {
            position: absolute;
            overflow: hidden;
            z-index: 1;
            top: 36px;
            left: 0px;
            min-width: 186px;
            border-radius: 5px;
            background: #dedede;
            -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

            li {
                height: 40px;
                font-size: 20px;
                color: #000;
                cursor: pointer;
                text-transform: capitalize;
                transition: 0.5s;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background: #cfcfcf;
                }
            }
        }
    }
}