.rackModal {
    
    &__body {
        padding: 0 20px;
    }

    &__advanced {
        max-height: 0;
        overflow: hidden;

        &-info {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;

            span {
                text-transform: uppercase;
                font-weight: 700;
                color: #c5c5c5;
            }

            p {
                width: 50%;
                margin-bottom: 10px;
                font-size: 500;
                font-size: 16px;
            }
        }

        &-addButton {
            right: 70px;
        }

        &-infoButton {
            right: 45px;
        }

        button {
            position: absolute;
            top: 4px;
            height: 30px;
            background: transparent;

            &:hover {

                .rackModal__icon {
                    color: #000;
                }
            }
        }

        &.open {
            max-height: none;
        }
    }

    &__icon {
        font-size: 18px;
        color: #c5c5c5;
        transition: 0.5s;
    }

    &__shelves {
        margin-top: 10px;
    }
}

.shelve {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #ebebeb;
    font-weight: 700;
    font-size: 16px;
    color: #8f8f8f;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        background: #999999;
        color: #fff;
    }
}