.warehouseHeader {

    &__createWarehouse {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background: #d3d3d3;
        color: #838383;
        font-size: 20px;
        transition: 0.5s;

        &:hover {
            background: #a9a9a9;
            color: #fff;
        }
    }
}