.sidebar {
    width: 360px;
    height: calc(100vh - 40px);
    position: absolute;
    top: 40px;
    left: -360px;
    background: #000;
    color: #fff;
    transition: 0.5s;

    &.active {
        left: 0;
    }
}