.sidebar {
    position: absolute;
    top: 40px;
    left: -360px;
    width: 360px;
    height: calc(100vh - 40px);
    padding: 20px;
    transition: 0.5s;
    background: #000;
    color: #fff;

    &.active {
        left: 0;
    }

    &__devider {
        width: 100%;
        height: 1px;
        margin: 10px 0 20px 0;
        background: rgb(47, 47, 47);
    }

    &__section {

        h3 {
            margin-bottom: 30px;
            font-weight: 900;
            text-transform: uppercase;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80px;
        height: 80px;
        cursor: pointer;

        &.active {

            div svg,
            p {
                color: #fff;
            }
        }

        &:hover div svg,
        &:hover p {
            color: #fff;
        }

        div {
            margin-bottom: 5px;
            
            svg {
                width: 30px;
                height: 30px;
                transition: 0.5s;
                color: rgb(60, 60, 60);
            }
        }

        p {
            font-size: 10px;
            font-weight: 400;
            text-transform: uppercase;
            transition: 0.5s;
            color: rgb(60, 60, 60);
        }
    }
}