.warehouseItem {
    
    &__table {

        tr {

            td {
                min-width: 60px;
                height: 20px;
                background: #d3d3d3;
                border-radius: 5px;
                transition: 0.5s;

                &:hover {
                    background: #595959;
                }
            }
        }

        &_wrapper {
            overflow: auto;
            max-height: calc(100vh - 110px);
        }
    }
}

  
  .selectable-selectbox {
    z-index: 9000;
    position: absolute;
    cursor: default;
    background: none;
    border: 1px dashed grey;
  }
  