.warehouseItem {
    
    &__table {

        tr {

            td {
                height: 20px;
                min-width: 60px;
                padding: 2px;
                border-radius: 5px;
                transition: 0.5s;
                background: #d3d3d3;

                &:hover {
                    background: #949494;
                    color: #fff;
                }

                &.isSelected {
                    background: #595959;
                    color: #fff;
                }

                &.isSelecting {
                    background: #adadad;
                }
            }
        }

        &_wrapper {
            max-height: calc(100vh - 110px);
            overflow: auto;
        }
    }
}

.selectable-selectbox {
    position: absolute;
    z-index: 9000;
    border: 1px solid grey;
    background: #6969694d;
}
  