@font-face {
    font-family: 'AnekLatin';
    src: url(./assets/fonts/AnekLatin/AnekLatin-Regular.ttf) format('ttf');
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'AnekLatin', sans-serif;
    font-weight: 400;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

 :focus,
 :active,
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background: #ecf0f3;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

.container {
    max-width: 1200px;
    height: calc(100vh - 40px);
    padding: 10px;
    margin: 0 auto;
}

section h1 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 10px;
}
